@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------------------------
   Global tweaks (optional)
------------------------------ */

html, body {
  @apply bg-gray-100 text-gray-800;
}
